<!DOCTYPE html>
<html>
  <head>
    <title>Ejercicio <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido al ejercicio de <%= title %></p>
  </body>
</html>
